.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
}

.landing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.landingTitle{
  grid-column:1;
  grid-row:1;

}
.landingSubTitle{
  grid-column: 1;
  grid-row:2
}
.landingImage{
  grid-column: 1/-1;
  grid-row:3/-1;
  width: 100%;
  height: auto;
  display:block;
  z-index: 1;
}
.landingBadges,
.landingManifesto{
  grid-column: 1/-1;
  grid-row: 3/-1;
  z-index: 2;
  align-self: end;
  color: white;
  padding: 20px;
}

.workSection,.projectGrid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: .4rem;
}
@media screen and (min-width:63rem){
  .landing{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:repeat(5,1fr);
    grid-template-areas:
    " . . . . ."
    ". title title img ."
    ". subtitle badges img ."
    ". subtitle badges img ."
    ". subtitle manifesto manifesto .";
    gap:1rem;
  }
  .landingTitle{
    grid-area:title;
  }
  .landingSubTitle{
    grid-area:subtitle;
  }
  .landingImage{
    grid-area:img;
  }
  .landingImage img{
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
    min-width: 0;
    min-height:0;
    
  }
  .landingBadges{
    grid-area:badges;
    height:100%;
  }
  .landingManifesto{
    grid-area:manifesto
  }

}