Project notes. 

contents showed have projects, contact, accomplishments and skills

Projects - school work, side hustles, open source contributions. 
Contact - clean simple way to reach me, Social media links. 
Accomplishments - Cerifications, Course completions. 
Skills - technologies and languages


Personality

my hobbies, my goals. 

content

- landing page. should be a hello 
shows me, what I do and how I can help them. 
name,title



structure the site so when changing the page items don't
move around. 

start developing other websites. 
what would they show and do. 

so hobby site, 
- making hot sauce, 
- making a outside oven/grill/smoker
- 3d printing is fun
- MTG all day baby. 


in my site based on 